<script>
  import Navbar from "../components/Navbar.vue";

  export default {
    components: { Navbar },
  };
</script>

<template>
  <nav class="navbar d-flex py-4 px-5 pe-0">
    <div class="nav-brand">
      <img src="../assets/shared/logo.svg" alt="logo" />
    </div>
    <ul class="nav-links d-flex py-4 px-5">
      <li class="nav-link">
        <a href="../../index.html"> <b class="pe-1">00</b> home</a>
      </li>
      <li class="nav-link">
        <a href="#"> <b class="pe-1">01</b> destination</a>
      </li>
      <li class="nav-link">
        <a href="./crew.html"> <b class="pe-1">02</b> crew</a>
      </li>
      <li class="nav-link">
        <a href="./technologies.html"> <b class="pe-1">03</b> technology</a>
      </li>
    </ul>
  </nav>

  <main>
    <section id="destinations">
      <Navbar />

      <p class="page-title">01 Pick your destination</p>

      <div id="destinations-carousel">
        <div id="indicators" class="destinations">
          <a href="#destination-moon" class="destination">Moon</a>
          <a href="#destination-mars" class="destination">Mars</a>
          <a href="#destination-europa" class="destination">Europa</a>
          <a href="#destination-titan" class="destination">Titan</a>
        </div>

        <div id="carousel-items" class="d-flex">
          <div id="destination-moon" class="item d-flex">
            <div class="destination-img">
              <img src="../assets/destination/image-moon.png" alt="" />
            </div>
            <div class="destination-text">
              <p class="destinations-title">Moon</p>

              <p class="destination-description">
                See our planet as you’ve never seen it before. A perfect
                relaxing trip away to help regain perspective and come back
                refreshed. While you’re there, take in some history by visiting
                the Luna 2 and Apollo 11 landing sites.
              </p>

              <div class="distance-info d-flex">
                <div class="avg">
                  <p class="avg-dist">Avg. distance</p>
                  <p class="avg-dist-value">384,400 km</p>
                </div>

                <div class="time">
                  <p class="est-time">Est. travel time</p>
                  <p class="time-est">3 days</p>
                </div>
              </div>
            </div>
          </div>

          <div id="destination-mars" class="item d-flex">
            <div class="destination-img">
              <img src="../assets/destination/image-mars.png" alt="" />
            </div>
            <div class="destination-text">
              <p class="destinations-title">Mars</p>

              <p class="destination-description">
                Don’t forget to pack your hiking boots. You’ll need them to
                tackle Olympus Mons, the tallest planetary mountain in our solar
                system. It’s two and a half times the size of Everest!
              </p>

              <div class="distance-info d-flex">
                <div class="avg">
                  <p class="avg-dist">Avg. distance</p>
                  <p class="avg-dist-value">225 mil. km</p>
                </div>

                <div class="time">
                  <p class="est-time">Est. travel time</p>
                  <p class="time-est">9 months</p>
                </div>
              </div>
            </div>
          </div>

          <div id="destination-europa" class="item d-flex">
            <div class="destination-img">
              <img src="../assets/destination/image-europa.png" alt="" />
            </div>
            <div class="destination-text">
              <p class="destinations-title">Europa</p>

              <p class="destination-description">
                The smallest of the four Galilean moons orbiting Jupiter, Europa
                is a winter lover’s dream. With an icy surface, it’s perfect for
                a bit of ice skating, curling, hockey, or simple relaxation in
                your snug wintery cabin.
              </p>

              <div class="distance-info d-flex">
                <div class="avg">
                  <p class="avg-dist">Avg. distance</p>
                  <p class="avg-dist-value">628 mil. km</p>
                </div>

                <div class="time">
                  <p class="est-time">Est. travel time</p>
                  <p class="time-est">3 years</p>
                </div>
              </div>
            </div>
          </div>

          <div id="destination-titan" class="item d-flex">
            <div class="destination-img">
              <img src="../assets/destination/image-titan.png" alt="" />
            </div>

            <div class="destination-text">
              <p class="destinations-title">Titan</p>

              <p class="destination-description">
                The only moon known to have a dense atmosphere other than Earth,
                Titan is a home away from home (just a few hundred degrees
                colder!). As a bonus, you get striking views of the Rings of
                Saturn.
              </p>

              <div class="distance-info d-flex">
                <div class="avg">
                  <p class="avg-dist">Avg. distance</p>
                  <p class="avg-dist-value">1.6 bil. km</p>
                </div>

                <div class="time">
                  <p class="est-time">Est. travel time</p>
                  <p class="time-est">7 years</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<style scoped>
  .page-title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: 12.5%;
  }

  #destinations-carousel {
    position: relative;
    width: 75%;
    margin: auto;
  }

  #indicators {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    text-align: end;
  }

  #indicators a {
    color: inherit;
    text-decoration: none;
    position: relative;
    margin-left: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s;
  }

  #indicators a:hover {
    opacity: 1;
  }

  #indicators a:hover::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 8px;
    background-color: #fefefe;
    opacity: 1;
  }

  #carousel-items {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: auto;
    scrollbar-width: none;
  }

  #carousel-items::-webkit-scrollbar {
    display: none;
  }

  .item {
    min-width: 100%;
    max-height: 100%;
    gap: 3rem;
    align-items: flex-start;
  }

  .destination-img img {
    height: 80%;
  }

  .item .destination-text {
    padding: 4rem;
    padding-left: 6rem;
  }

  .item .destinations-title {
    font-family: "Bellefair", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    padding: 0;
  }

  .destination-description {
    position: relative;
    text-align: justify;
    padding-bottom: 1rem;
    margin-right: 1rem;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.7;
  }

  .destination-description::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    height: 1px;
    border-radius: 8px;
    background-color: #fefefe;
    opacity: 0.3;
  }

  .distance-info {
    margin-top: 2rem;
    gap: 5rem;
  }

  .est-time,
  .avg-dist {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
    opacity: 0.7;
  }

  .avg-dist-value,
  .time-est {
    font-family: "Bellefair", serif;
    font-size: 26px;
    text-transform: uppercase;
  }
</style>
