@import 'bs-copy.css';

:root {
    --home-bg: '@/assets/home/background-home-desktop.jpg';
    --crew-bg: '../assets/crew/background-crew-desktop.jpg';
    --destination-bg: '../assets/crew/background-destination-desktop.jpg';
    --technology-bg: '../assets/crew/background-technology-desktop.jpg';
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


